@import url(https://fonts.googleapis.com/css2?family=Sacramento&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arsenal&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);


@media (min-width:801px){

    header {
        width: 100%;
    }

    nav {
        float: right;
    }

    nav ul {
        list-style: none;
        overflow: hidden; 
    }

    nav ul li {
        float: left;
        font-family: 'Sacramento';
        font-size: 27px;
    }

    nav ul li a {
        display: ruby-text; 
        padding: 15px;
        color: #7F803E ;
        text-decoration: none;
    }

    nav ul li:hover a {
        border-radius:77% 23% 50% 50% / 70% 67%;
        color: aliceblue;
        background-color: #f3bdac ;
        text-shadow: rgb(199, 145, 145) 0 -2px;
    }

    svg{
        width: auto;
        height: auto;
        top: 10px;
        left: 0px;
        font-family: 'Lobster';
    }
}

@media (min-width:600px){
    svg{
        width: auto;
        height: auto;
        position: fixed;
        top: 10px;
        left: 0px;
        font-family: 'Lobster';
    }
}

@media (min-width: 480px){
    svg{
        width: auto;
        height: auto;
        position: fixed;
        top: 10px;
        left: 0px;
        font-family: 'Lobster';
    }
}
