@import url(https://fonts.googleapis.com/css2?family=Sacramento&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arsenal&display=swap);


header {
    width: 100%;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    overflow: hidden; 
}

nav ul li {
    float: left;
    font-family: 'Sacramento';
    font-size: 27px;
    
}

nav ul li a {
    display: ruby-text; 
    padding: 15px;
    color: #7F803E ;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #f3bdac ;
}
